@model CSHARP_Opdracht_WebShop.Models.Artikel_Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artikel_Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artikels.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikels.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
