@model IEnumerable<CSHARP_Opdracht_WebShop.Models.Artikels>

@{
    ViewBag.Title = "Index";
    string cats;
}

<h2>Index</h2>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Category
  <span class="caret"></span></button>
  <ul id="categoryDropDown" class="dropdown-menu">
  </ul>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="Artikels" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th onclick="ArtikelsOrderbyPrice();">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Storage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th>
            <!-- space -->
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Storage)
        </td>
        <td>
            @{
                string category = "";
            }

            @foreach (var cat in item.Categories)
            {
                if (item.Categories.Count > 1)
                {
                    category = category + cat.Name + ", ";
                }
                else
                {
                    category = cat.Name;
                }
            }

            @Html.DisplayFor(modelItem => category)

        </td>
        <td>
            <!-- space -->
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
            <button onclick="ArtikelsOrderTemp('@item.ID')">Bestel</button>
        </td>
    </tr>
}

</table>

<div id="bikes"></div>

<button onclick="ArtikelsOrderTemp('1');">Click ME</button>

@section Scripts {
<script type="text/javascript">

    var domain = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');

    function ArtikelsOrderTemp(id) {
        $.ajax({
            url: domain+'/api/ArtikelsOrderTemp',
            type: 'POST',
            data: { id: id },
            succes: function (data) {
                console.log("succes temp order?");
                console.log(data);
            }
        })
    }

    function FillCategoryDropDown() {
        $.ajax({
            url: domain+'/api/allCategories',
            type: 'POST',
            success: function (data) {
                console.log(window.location.hostname);
                console.log(data);

                for (var i = 0; i < data.length; i++) {
                    var bikeDiv = $('<li>');
                    bikeDiv.html("<a href=# onclick=ArtikelsByCategory('"+data[i].Name+"');>" + data[i].Name) + "</a>";

                    $('#categoryDropDown').append(bikeDiv);
                }

                $("#bikes").show('slow');
            }
        })
    }

    function ArtikelsOrderbyPrice() {
        $.ajax({
            url: domain+'/api/ArtikelsOrderByPrice',
            type: 'POST',
            success: function (data) {
                console.log(window.location.hostname);
                console.log(data);
                $("#Artikels").html('<tr> <th> @Html.DisplayNameFor(model => model.Name) </th><th> @Html.DisplayNameFor(model => model.Description) </th> <th> @Html.DisplayNameFor(model => model.Price)</th><th>@Html.DisplayNameFor(model => model.Storage)</th><th></th><th></th></tr>');

                for(var i = 0; i < data.length; i++) {
                    var bikeDiv = $('<tr>');
                    bikeDiv.html('<td>' + data[i].Name);
                    bikeDiv.append('<td>' + data[i].Description);
                    bikeDiv.append('<td>' + data[i].Price);
                    bikeDiv.append('<td>' + data[i].Storage);

                    $('#Artikels').append(bikeDiv);
                }

                $("#bikes").show('slow');
            }
        })
    }

    function ArtikelsByCategory(category) {
        $.ajax({
            url: domain+'/api/ArtikelsByCategory',
            type: 'POST',
            data: { name: category },
            success: function (data) {
                console.log(window.location.hostname);
                console.log(data);
                $("#Artikels").html('<tr> <th> @Html.DisplayNameFor(model => model.Name) </th><th> @Html.DisplayNameFor(model => model.Description) </th> <th> @Html.DisplayNameFor(model => model.Price)</th><th>@Html.DisplayNameFor(model => model.Storage)</th><th></th><th></th></tr>');

                for (var i = 0; i < data.length; i++) {
                    var bikeDiv = $('<tr>');
                    bikeDiv.html('<td>' + data[i].Name);
                    bikeDiv.append('<td>' + data[i].Description);
                    bikeDiv.append('<td>' + data[i].Price);
                    bikeDiv.append('<td>' + data[i].Storage);

                    $('#Artikels').append(bikeDiv);
                }

                $("#bikes").show('slow');
            }
        })
    }

    $(function () {
        FillCategoryDropDown();
        console.log();
    });

</script>
}